@font-face {
  font-family: boba-mono;
  src: url(/src/font/boba-mono.otf);
}
body {
  /*background-color: #2d2d2a;*/
  background-image: url('/src/pics/bg.png');
  background-attachment: fixed; 
  color: #ededea;
  font-family: Monospace;
  text-align: center;
}
h1 {
  font-family: boba-mono;
}
p {
  font-size: x-large;
  margin-right: 300px;
  margin-left: 300px;
  }
sub {
  font-size:medium;
}
a {
  color: #ededea;
}

/*button class:*/
.button {
  background-color: #ededea;
  color: #2d2d2a;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Verdana;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.2s;
}
.button:hover {
  border: 3px solid #ededea;
  color: #ededea;
  background: #2d2d2a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*vignette*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  width: 99%;

  max-width: 1900px;
  padding: 10px;
}

.grid-box {
  background: rgb(51, 51, 51);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.grid-box:hover {
  transform: scale(1.02);
}

.grid-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.grid-box p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
}


@media (max-width:1000px) {
  #box{
    margin:2px 2px;
  }
}
