@font-face {
  font-family: boba-mono;
  src: url(/src/font/boba-mono.otf);
}
body {
  /*background-color: #2d2d2a;*/
  background-image: url('/src/pics/bg.png');
  background-attachment: fixed; 
  color: #ededea;
  font-family: Monospace;
  text-align: center;
}
h1 {
  font-family: boba-mono;
}
p {
  font-size: x-large;
  margin-right: 300px;
  margin-left: 300px;
  }
sub {
  font-size:medium;
}
a {
  color: #ededea;
}

.vignette{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 200px #000000;
  overflow-y: scroll;
}

/*button class:*/
.button {
  background-color: #ededea;
  color: #2d2d2a;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Verdana;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.2s;
}
.button:hover {
  border: 3px solid #ededea;
  color: #ededea;
  background: #2d2d2a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*vignette*/
.grid-container {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  width: 99%;

  max-width: 1900px;
  padding: 10px;
}

.flex-container {
  display:flex;
  /*min-height: 800px; */
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.grid-box {
  background: rgb(51, 51, 51);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.grid-box:hover {
  transform: scale(1.02);
}

.grid-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.grid-box p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
}


@media (max-width:1000px) {
  #box{
    margin:2px 2px;
  }
}

/* Lightbox styles */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.2s ease;
}

#lightbox.hidden {
  display: none;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 0 0 100px 30px #000000;
}

#lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: font-size 0.2s ease;
}
#lightbox-close:hover {
  font-size: 2.25rem;
}