body {
  /*background-color: #2d2d2a;*/
  background-image: url('src/pics/bg.png');
  background-attachment: fixed; 
  color: #ededed;
  font-family: Monospace;
  text-align: center;
}
h1 {
  font-family: boba-mono;
}
p {
  font-size: x-large;
  margin-right: 300px;
  margin-left: 300px;
  }
sub {
  font-size:medium;
}

a {
  color: #ededed;
}


/*button class:*/
.button {
  background-color: #ededed;
  color: #2d2d2d;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Verdana;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.2s;
  margin-left: 40px;
  margin-right: 40px;
}
.button:hover {
  border: 3px solid #ededed;
  color: #ededed;
  background: #2d2d2d;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*vignette*/
.vignette{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 200px #000000;
  overflow-y: scroll;
}
/*box*/
#box{
  background-color: #2d2d2d;
  padding: 7px 16px;
  display: inline-block;
  margin: 2px 45px;
  cursor: pointer;
  border-radius:3px;
  border: solid #ededed;
}

@media (max-width:1000px) {
  #box{
    margin:2px 2px;
  }
}

@font-face {
  font-family: boba-mono;
  src: url(src/font/boba-mono.otf);
}